,
{
        serviceName:'<%=serviceName%>',
        position: 3,
        groupName: '<%=name%>',
        params: {
          cacheName: '<%=serviceName%>',
          params:[
            {
              buttonTittle: '<%=name%>',
              buttonAltText: 'f<%=name%>',
              buttonClass: '<%=name%>',
              value: '',
              styleSheet: ''
            },
          ]
        }
},