include ../node_modules/bempug/index
    - BEMPUG.modifier = '_';

doctype html
html
    include ./blocks/head/head
    body
        a.js-ver = dsdsadad
    | <script>window.onload=function(){var myVer = new SpecialVersion('.js-ver')}</script>


