@import "./helpers/gui";
@import "./helpers/fonts";
@import "./helpers/grid";
@import "~normalize-scss/sass/normalize";
// Blocks styles
@import "../../blocks/**/*.scss";
// Components styles
@import "../../components/**/*.scss";

body{

}
.header{
  background: #000;
  color: #fff;
  padding: 10px;
  margin: 15px;
  h1{
    margin-bottom: 30px;
  }
}
.test-block{
  .test{
    border: 1px solid #8f8f8f;
    padding: 10px;
    margin: 15px;
  }
  pre{
    display: block;
    overflow: auto;
    background-color: rgb(43, 43, 43);
    padding: 15px;
    color: #9e9b41;
  }
}
